.links {
    text-align: left;
    width: 100%;
}

.links-icon {
    display: inline;
}

.links-icon a svg {
    color: black;
    margin: 1rem 1rem 0 0;
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
}