.links {
    display: flex;
    justify-content: center;
    width: 100%;
}

.links-icon {
    font-size: 3rem;
    margin: 0 1rem;
}

.links-icon a {
    color: inherit;
}

@media screen and (max-width: 450px) {
   .links-icon{
       font-size: 2rem;
       margin: 0 0.5rem
   } 
}