.ofestivalu {
  width: 90%;
  max-width: 1800px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.ofestivalu-left,
.ofestivalu-right {
  width: 50%;
  margin: 0;
}

.ofestivalu-left {
  padding: 0;
  font-size: 0;
}

.ofestivalu-left img {
  width: 100%;
}

.ofestivalu-right {
  background-color: #ffcf56;
  padding: 1rem 3rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.ofestivalu h3 {
  font-size: 1.8rem;
  margin: 0;
}

.ofestivalu p {
  font-size: 1rem;
}

@media screen and (max-width: 1600px) {
    .ofestivalu{
      flex-flow: column-reverse;
    }
    .ofestivalu-left,
    .ofestivalu-right {
      width: 100%;
      margin: 0;
    }
  
    .ofestivalu-right {
      min-height: 60vw;
    }
  }
  
  @media screen and (max-width: 450px) {
    .ofestivalu h3 {
        font-size: 1.4rem;
    }
    
    .ofestivalu-description {
        font-size: 1rem;
    }
  
    .ofestivalu-right{
      padding: 1rem;
    }
  }