form {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 1rem 0;
}

form input {
  background-color: inherit;
  font-size: 1.4rem;
  width: 100%;
  margin-bottom: 1rem;
  line-height: 2.4rem;
  border: 1px solid black;
}
form input:active,
form input:focus {
  border: 1px solid black;
  color: black;
  border-radius: 0;
}

form input.invalid {
  border-color: red;
}

.botTrap {
  position: absolute;
  left: -5000px;
}

.submit.invalid {
  background-color: grey;
  animation: none;
  cursor: not-allowed;
}

.submit.invalid:hover {
  background-color: grey;
  animation: none;
  color: #ffcf56;
}

p.error {
  padding: 0;
  margin: 0;
  color: red;
}

p.status {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
}