.landing {
    background-image: url(../../assets/images/header-bg.jpg);
}

.hranice {
    background-color: rgba(230, 230, 230, .5);
    margin: auto;
    width: 90%;
    max-width: 60rem;
    min-height: 30vh;
    position: relative;
    z-index: 5;
    text-align: center;
    padding-bottom: 2rem;
}

.hranice h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

.hranice p {
    font-size: 1.4rem;
}

@media screen and (max-width: 450px) {
    .hranice h2 {
        font-size: 1.4rem;
        margin-top: 0;
    }
    
    .hranice p {
        font-size: 1rem;
    }

    .buyTickets {
        font-size: 1.2rem;
    }
}