.hranice {
  background-color: #ffcd58;
  margin: auto;
  width: 90%;
  max-width: 1800px;
  height: fit-content;
  position: relative;
  z-index: 5;
  text-align: left;
  padding: 0;
}


.hranice-left {
  width: 50%;
  margin-right: 2rem;
  font-size: 0;
  float: left;
}

.hranice-left img {
  width: 100%;
}

.hranice-left__square {
  width: 50%;
  margin-right: 2rem;
  font-size: 0;
  float: left;
  padding: 0;
  font-size: 0;
  display: none;
}

.hranice-left__square img {
  width: 100%;
}

.hranice h2 {
  font-size: 1.8rem;
  margin-left: 2rem;
}

.hranice p {
  font-size: 1rem;
  padding: 0 2rem;
}

.hranice a {
  display: inline-block;
  color: inherit;
  text-decoration: underline 2px;
}

.hranice a:hover,
.hranice a:active {
  cursor: pointer;
}

.buyTickets {
  width: 100%;
}

@media screen and (max-width: 1720px) {
  .hranice-left {
    display: none;
  }
  .hranice-left__square{
    display: block;
  }
}

@media screen and (max-width: 1365px) {
  .hranice {
    padding: 0;
    padding-bottom: 2rem;
  }

  .hranice-left,
  .hranice-left__square {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .hranice h2 {
    font-size: 1.4rem;
    margin-top: 0;
  }

  .hranice p {
    font-size: 1rem;
  }

  .buyTickets {
    font-size: 1rem;
  }
}

@media screen and (max-aspect-ratio: 3/2) {
  .hranice-left {
    display: none;
  }

  .hranice-left__square {
    display: block;
  }
}