.goout {
    background-color: #ffcd58;
    margin: auto;
    width: 90%;
    max-width: 1800px;
    height: fit-content;
    position: relative;
    z-index: 5;
    text-align: left;
    padding: 2rem 0;
  }