.menuItem {
    display: inline-flex;
    font-weight: bold;
    margin: 0 1.5rem;
    font-size: 1.2rem;
  }
  
  .menuItem span {
    color: inherit;
    transition: all;
    transition-duration: 150ms;
  }
  
  .menuItem span:active,
  .menuItem span:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  