.programVenue {
    border-bottom: 2px solid white;
    width: 90%;
    margin: auto;
}

.programVenue:last-child {
    border: none;
}

.programVenue h3 {
    font-size: 1rem;
    margin: 0;
    margin-top: 1rem;
  }

.programVenue ul {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

