.programItem {
  display: inline-flex;
  justify-content: left;
  text-align: center;
}

.programItem span {
  margin: 0 0.5rem;
  display: inline-flex;
  text-align: left;
}

.programItem span a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.programItem-time {
  width: 2.5rem;
}

@media screen and (max-width: 1600px) {
  .programItem {
    justify-content: center;
  }
}
