.programDay {
  width: 47.5%;
  max-width: 65rem;
  color: white;
  text-align: center;
  padding: 0 1rem;
}

.programDay__friday {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgba(159, 205, 105, 1);
}

.programDay__saturday {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(234, 87, 100, 1);
}

.programDay h2 {
  font-size: 1.8rem;
  margin: 0.5rem;
}

.programDay ul {
    list-style: none;
    padding: 0 0 1rem 0;
}

@media screen and (max-width: 768px) {
  .programDay{
      width: 90%;
      border-radius: 15px;
      margin-bottom: 5rem;
  }
}