.programDay {
  width: 45%;
  max-width: 55rem;
  color: white;
  text-align: center;
  padding: 0 2rem;
}

.programDay__friday {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgba(159, 205, 105, 1);
}

.programDay__saturday {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(234, 87, 100, 1);
}

.programDay h2 {
  font-size: 1.8rem;
  margin: 0.5rem;
}
.programDay h3 {
  font-size: 1.2rem;
  margin: 0.4rem;
}

.programDay ul {
    list-style: none;
    padding: 0 0 1rem 0;
}

.programDay ul li ul {
    border-bottom: 1px solid white;
}

.programDay ul li ul li a {
    color: inherit;
    text-decoration: none;
}

.programDay ul li ul li div span {
    display: inline-flex;
    margin-right: 3rem;
}