.backdrop {
    position: fixed;
    cursor: default;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    min-height: 100vh;
    z-index: 30;
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  .modal {
    position: absolute;
    top: 2rem;
    left: 5%;
    width: 90%;
    height: fit-content;
    min-height: calc(100vh - 4rem);
    background-color: #e6e7e8;
    padding: 1rem;
    border-radius: 14px;
    z-index: 40;
    animation: open 300ms ease-out forwards;
  }
  
  @keyframes open {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @media screen and (max-width: 1439px) {
    .backdrop {
      position: fixed;
      padding-bottom: 2rem;
    }
  }